<footer class="contato" id="contato">
  <h2 class="contato__title" [@scrollAnimation]="state">Click for communication</h2>
  <a href="mailto:ngbontsi@gmail.com" [@scrollAnimation]="state">
    <button class="btn-secondary btn--degrade">CONTACT</button>
  </a>
  <ul class="list" [@scrollAnimation]="state">
    <li class="list__item ">
      <a href="https://github.com/ngbontsi"><i class="fab fa-github fa-3x "></i></a>
    </li>
    <li class="list__item">
      <a href="https://www.linkedin.com/in/ndimphiwe-bontsi-368b4960/"><i class="fab fa-twitter fa-3x"></i></a>
    </li>
  </ul>
  &copy; Copyright 2019
</footer>
