<section class="skill" id="skill">
  <div class="skill__heading" [@scrollAnimation]="state">
    <h2 class="skill_title"> {{title}}</h2>
    <p class="skill__paragraph ">{{paragraph}} </p>
  </div>
 <!-- <div class="underline"></div>
  <ul class="list" [@scrollAnimation]="state" *ngFor=" let skill of skills">
    <li class="list__item list--visible "><span class="list__label ">{{skill.name}}</span></li>
  </ul>
  <div class="underline"></div>
  <ul class="list" [@scrollAnimation]="state" *ngFor=" let framework of frameworks">
    <li class="list__item list--visible "><i class="fab fa-html5 fa-4x"></i><span class="list__label "> test {{framework.name}}</span></li>
  </ul>
  <div class="underline"></div>
  <ul class="list" [@scrollAnimation]="state" *ngFor=" let software of softwares">
    <li class="list__item list--visible "><i class="fab fa-html5 fa-4x"></i><span class="list__label ">{{software.name}}</span></li>
  </ul>
  <div class="underline"></div>
  <ul class="list" [@scrollAnimation]="state" *ngFor=" let managementTool of managementTools">
    <li class="list__item list--visible "><i class="fab fa-html5 fa-4x"></i><span class="list__label ">{{managementTool.name}}</span></li>
  </ul> -->
</section>
